html,body {
	margin:0;
	padding:0;
	color: #000;
	font-weight: 100;
	font-family: Helvetica, Arial;
	font-size: 14px;
  width:340px;
}

* { _noFocusLine: expression(this.hideFocus=true); }
::-moz-focus-inner {border:0;}                      
:focus {outline:none;}                              

body { }

.body-container { height:420px;overflow: auto;overflow-x: none; }

.io-container .io-view { margin:0;padding:5px 10px;border-bottom: 1px solid #F8F8F8;}
.io-container .io-view:hover {background: #FCFCFC;}
.io-container .io-view .desc { color:#CCC;font-size:12px; }
.io-container .io-details { background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(250, 250, 250, 1)));padding:0px;border-top: 1px solid #CCC;border-bottom: 5px solid #F5F6F7; }
.header { background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.1,#e9f6fb),color-stop(0.3,#fff));border-bottom: 5px solid #F5B24D; }
.header .inner { background:url('../icons/header.png') no-repeat;background-size:300px;width:320px;height:43px;margin:5px; }
.header .title { font-size: 18px;margin-left: 135px;padding-top: 9px;font-weight: 900;color: rgba(77, 51, 45, 0.4);font-variant: small-caps; }




.slider {
  position: relative;
  overflow: hidden;
  margin: 0;
}

.slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 400px;
  list-style: none;
}

.slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 360px;
  height: 380px;
}


.clear {
  clear: both;
}

.kpi-metrics {
  padding: 10px;
  padding-right:30px;
}

.kpi-metrics table {
  width: 100%;
  border-spacing: 0px;
  border-bottom: 1px solid #F0F0F0;
}

.kpi-metrics th {
  color: #989899;
  text-transform: uppercase;
  font-size: 11px;
  padding: 10px 10px 0 10px;
  text-align: left;
  font-weight: normal;
}

.kpi-metrics td {
  color: #182227;
  font-size: 20px;
  padding: 10px;
}

.kpi-metrics .budget-schedule {
  color: #464f54;
  font-size: 13px;
  line-height: 40px;
  text-align: right;
}

.kpi-metrics .bar-graph {
  margin-bottom: 10px;
}

.kpi-metrics .bar-graph label {
  float: left;
  text-transform: uppercase;
  font-size: 10px;
  padding-right: 10px;
  color: #797878;
  width: 55px;
  line-height: 12px;
}

.kpi-metrics .progress-bar-wrapper {
  float: left;
  width: 170px;
}

.kpi-metrics .inner-progress-bar {
  background: -webkit-gradient(linear,left top,left bottom,from(#ccc),to(#8e8e8e));  
  height: 30px;
}

.kpi-metrics .bar-value {
  font-weight: bold;
  color: #515960;
  line-height: 30px;
  float: right;
  font-size: 11px;
  text-align: left;
  width: 70px;
}

.icon-dashboard { float:left;width:167px;height: 83px;text-align:center;border: 1px solid #F7F7F7;padding: 5px;background: #FCFCFC;padding-top: 20px; }
.icon-dashboard:hover { background:#EEE; }
.icon-dashboard img { height:40px; }
.icon-dashboard a { display:block;margin-top:10px; }

.slider-control { float:right;margin-right:20px;font-size: 30px;text-decoration: none;line-height: 20px; }

.add-bookmark { text-align:center;padding:10px;background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,219,128,1)), color-stop(100%,rgba(132, 177, 95, 1))); }
.add-bookmark a { color: #000;text-decoration: none;font-weight: 400;color:#4E4E4E;font-variant: small-caps; }

.show-controls { height: 20px;background: #F7F7F7;text-align: center;}

.activity { border-bottom: 1px solid #E2E2E2;padding: 5px;background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(255, 255, 255, 1))); }

.no-bookmarks { font-size: 20px;text-align: center;margin-top: 100px;font-weight: bold;color: #E2E2E2;letter-spacing: 2px; }
